# ignores for flask backend
# application artifacts
# upload artifacts
uploads/
occurrences/
scrubbed/
tokenized/
# embedding artifacts
embeddings/
# alignment artifacts
common_words/
distances/
embeddings/
Q/
shifts/


# database holding all application data
demo-b/app/db/demo_app.db
# ignore python build artifacts (all *.pyc files)
*.pyc

# python env files
venv/
.env.local
.env.*.local
__pycache__/

# ignore large testing files
demo-b/test/preprocessing/test_data
# ignores for vue frontend
node_modules
dist
dist-ssr
*.local
# scratch files
scratch.txt
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
vetur.config.js
