absl-py
spacy
astunparse
cachetools
certifi
charset-normalizer
clang
click
cycler
Flask
Flask-Cors
flatbuffers
gast
gensim
google-auth
google-auth-oauthlib
google-pasta
grpcio
gunicorn
h5py
idna
itsdangerous
Jinja2
joblib
keras
Keras-Preprocessing
kiwisolver
Markdown
MarkupSafe
matplotlib
nltk
numpy
oauthlib
opt-einsum
pandas
Pillow
protobuf
pyasn1
pyasn1-modules
pyparsing
python-dateutil
pytz
regex
requests
requests-oauthlib
rsa
scikit-learn
scipy
seaborn
six
sklearn
smart-open
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
tensorflow
tensorflow-estimator
termcolor
threadpoolctl
tqdm
typing-extensions
urllib3
Werkzeug
wrapt